*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'poppins',sans-serif;
  
}
.body{
background: linear-gradient(#53a9e2, #e2e671);
}
.my-card{
  width: 100%;
  max-width: 800px;
  justify-content: space-between
}
.card-master{
  max-width: 700px;
}
.q-pa-md{
  justify-content:  space-between;
   
}
.imgg{
  font-weight: "normal";
  border-radius: 25px;
  background: #73AD21;
  
  width: 100px;
  height: 100px;

}
.card-mid{
  font-family: Helvetica, sans-serif;
  max-width: 1000px;
  max-height: 1000px;
}
.descricao{
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  font-size: 14px;
  /*position: relative;
  top: -10px;*/
  
  
  
}
/*.boton2{
  position: absolute;
  top: 40px;
}*/

/*.b4{
font-size: 40px;
color: black;
position: absolute;
top: 20px;
}*/
/*.boton3{
  position: absolute;
  top: 79px;

}*/

.preco{ 
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  font-size: 16px;
  align-items: center;
  /*position: absolute;*/ 
	/*left: 140px; 
	top: 1px;*/
	color: #c504ab;
  
}
.preço2{
  font-family: Helvetica, sans-serif;
  font-weight: bold;
  font-size: 30px;
  align-items: center;
  /*position: absolute;
  top: 1px;*/
	color: #c504ab;

}
.ultimo-card{
  width: 400px;
  
}
.card-main{
  width: 100%;
  height: 100%;
}